<div id="header" class="row fixed-top-bar">
	<div class="col-md-3">
		<div class="group-left-top">
			<span id="userid" style="display: none"><%= current_user(@group).id %></span>
			<span id="groupaccess" style="display: none"><%= fetch_key(@group) %></span>
			<div class="col-md-2 top-left">
				<a class="top-btn-left" href="<%= root_path %>"><i class="icon ion-chevron-left"></i></a>
			</div>

			<div class="col-md-8 top-mid-wrap">
				<span class="top-middle"><%= truncate(@group.title, :length => 17) %></span>
			</div>

			<div class="col-md-2 top-right">
				<a class="top-btn-right" href="#" data-toggle="modal" data-target="#timeModal"><i class="icon ion-ios-time-outline"></i></a>
			</div>
		</div>
	</div>
	<div class="col-md-9 social-box-wrap navbar-header">
		<a href="#" data-toggle="offcanvas" data-target=".sidebar-nav" class="navbar-toggle"><i class="fa fa-bars" style="color: #fff;"></i></a>
		<div class="social-box"><span>Share Your Group:<%= social_share_button_tag(@group.title) %></span></div>
	</div>

</div>

<!-- <div class="row-offcanvas row-offcanvas-left"> -->
	<div class="col-md-3 group-left sidebar-offcanvas" id="sidebar">
		<div class="group-left-content-wrap">
			<div class="username-wrap">Your User Name: <%= current_user(@group).username %></div><br>
		</div>
		<% @group.users.each do |g| %>
			<div class="post-container <%= g == current_user(@group) ? 'glc-wrap' : '' %>">
					<div class="post-thumb"><img src="<%= image_url 'ghost-6.png' %>" width="50" height="50" /></div>
					<div class="post-content">
							<h3 class="guest-name"><%= truncate(g.username, :length=>19) %></h3>
							<p class="join-date">Joined <%= time_ago_in_words(g.created_at) %> ago</p></div>
			</div>
		<% end%>
	</div>

	<div class="col-md-9 group-right">
		<div class="chat-content">
				<div id="messages" class="scrollable" data-group-id="<%= @group.id %>" data-user-id="<%= current_user(@group).id %>" data-group-access="<%= fetch_key(@group) %>">
				  <%= render @group.messages.order(:created_at) %>
					<span id="userid" style="display:none;"><%= current_user(@group).id %></span>
				</div>
				<!-- end display messages -->

			<!-- input box -->
				<div id="footer">
					<%= form_for @message, url: '#', data: {"user-id": current_user(@group).id} do |f| %>
						<%= f.text_area :body, class: 'form-control', placeholder:"What's on your mind?" %>
						<%= f.submit "Post", class: 'btn btn-primary btn-lg', style: "display:none;" %>
					<% end %>
				</div>
				<!-- end input box -->
		</div>
	</div>
<!-- </div> -->


<!-- Modal -->
<div id="timeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= @group.title %></h4>
      </div>
      <div class="modal-body">
        <p>Your group will expire in <span id="expiresin"><%= ((@group.expiration-Time.now)*1000).round %></span> minutes</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
var selScrollable = '.scrollable';
// Uses document because document will be topmost level in bubbling
$(document).on('touchmove',function(e){
  e.preventDefault();
});
// Uses body because jQuery on events are called off of the element they are
// added to, so bubbling would not work if we used document instead.
$('body').on('touchstart', selScrollable, function(e) {
  if (e.currentTarget.scrollTop === 0) {
    e.currentTarget.scrollTop = 1;
  } else if (e.currentTarget.scrollHeight === e.currentTarget.scrollTop + e.currentTarget.offsetHeight) {
    e.currentTarget.scrollTop -= 1;
  }
});
// Stops preventDefault from being called on document if it sees a scrollable div
$('body').on('touchmove', selScrollable, function(e) {
  e.stopPropagation();
});

$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.sidebar-offcanvas').toggleClass('active');
  });
});


</script>
